.app-container {
    text-align: center;
    padding: 20px;
}

.topo {
    width: 100vw; /* Ajuste conforme necessário */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.lista {
    text-align: center;
    color: aliceblue;

}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    color: aliceblue;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}

.base {
    margin-top: 50px;
    text-align: center;
    color: #555;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-body {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container input {
    padding: 10px;
    font-size: 16px;
}

.btn-secondary {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
}
